<h1>Homepage#Index</h1>
<p>root/app/views/homepage/index.html.erb</p>

<div class="mapwrap">
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
</div>

  <script>
  $(window).ready(function(){
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
      var markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  })
  </script>



  <h2><%= @post.title %></h2>
  <h2><%= @post.user.name %></h2>
<div class="image">
  <a>
    <%= image_tag attachment_url(@post, :photo, :fill, 500, 500, format: :jpg )%>
  </a>
</div>



<!--  www.rubydoc.info/gems/gmaps4rails/2.1.2  -->
<!--  2) HTML ___  Add a div to bear your map, example: -->
<!--  2) JS ___  add the google java scripts to the app layout dom -->
