// Place all the styles related to the homepage controller here.
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
  background-color: #2C3E50;
  padding: 15px;
  a {
    flex: 1;
    margin: 0 30px;
    font-size: 20px;
    color: #ffffff;
    &:hover {
      text-decoration: none;
      color: #F1C40F;
    }
  }
}

img.full-size {
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: auto;
  min-height: 800px;
  min-width: 1199px;
}

.yieldwrap {
  border: 2px solid red;
  position: absolute;
  overflow: hidden;
  height: auto;
  width: 100%;
  margin-top: 0px;
}
