// Place all the styles related to the homepage controller here.
.homepagecontainer {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
}
