
#mapid { height: 600px}




.postindex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
}

.postwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dotted;
  border-width: 2px;
  border-color: gray;
}

.imagebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: double;
  border-width: 2px;
  border-color: red;
}
.tinybox {
  border-style: dotted;
  border-width: 2px;
  border-color: red;
}

.image img{
display: block;
align-content:center;
width: 300px;
height: 300px;
margin-top: 6px;
margin-bottom: 6px;
margin-left: 0px;
margin-right: 0px;
border-style: solid;
border-width: 3px;
border-color:black;
padding: 4px;
}

.timelatlong{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: dashed;
  border-width: 2px;
  border-color: red;
}

.time {
    justify-content: left;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-style: double;
    border-width: 2px;
    border-color: gray;
}

.lat {
    justify-content: left;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-style: dotted;
    border-width: 2px;
    border-color: gray;
}

.long {
    justify-content: left;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-style: double;
    border-width: 2px;
    border-color: gray;
}

.poststats {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    border-style: dashed;
    border-width: 2px;
    border-color: blue;
}

.titlestat {
    font-size: 20px;
    padding-right: 10px;
}

.votestat {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    a {
      text-decoration: none;
      color: #95A5A6;
    }
}

.likes {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.liketext {
  font-size: 18px;
  color: red;
  padding-left: 10px;
  padding-right: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: black;
}

h1 {font-size: 15px;}

h2 {font-size: 15px;}


.namebody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6px;
  padding-bottom: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: red;
}

.namestalk {
  display: flex;
  flex-direction: row;
  width: 98%;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: black;
}

.name {
  justify-content: left;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-style: double;
    border-width: 2px;
    border-color: gray;
    text-decoration: none;
    background-color: #ddedec;
}

.follow {
  border-style: double;
  border-width: 2px;
  border-color: green;
  background-color: #dfedac;
}

.textbody {
  justify-content: left;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border-style: double;
  border-width: 2px;
  border-color: yellow;
  text-decoration: none;
  background-color: #ddedec;
}

.emptydiv {
  justify-content: left;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border-width: 2px;
  border-color: gray;
  text-decoration: none;
  background-color: #ddedec;
}
