

.postindex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}


.mapdecor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 10px;
}

img {
  max-width: 100%;
}

  #mapid { height: 500px}
  #mapid { width: 90%}
  #mapid {border-style: solid}
  #mapid {border-color: gray}
  #mapid {border-width: 2px}

  #mapid.post-detail { height: 300px}
  #mapid.post-detail { width: 100%}

.post-detail-image {
  margin-bottom: 3rem;
}

.buffer {
  width: 100%;
  height: 20px;
  align-self: center;
}

.postwrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.leftbox {
  width: 2%;
  height: auto;
}

.rightbox {
  width: 2%;
  height: auto;
}

.imagebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 48%;
  height: auto;
}

.tinybox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
}

.image img{
  display: block;
  align-content:center;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  padding: 4px;
}

.timewrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
  height: auto;
  padding: 1em;
 }


.timelatlong {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
}

.time {
    justify-content: left;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}


.poststats {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    height: auto;
}

.titlestat {
    font-size: 20px;
    padding-right: 10px;
}

.votestat {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    a {
      text-decoration: none;
      color: #95A5A6;
    }
}

.likes {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.liketext {
  font-size: 18px;
  color: red;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {font-size: 15px;}

h2 {font-size: 15px;}

.namestalk {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 6px;
  padding-bottom: 10px;
}

.name {
  justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border-style: double;
    border-width: 2px;
    border-color: gray;
    text-decoration: none;
    background-color: #ddedec;
    padding: 6px;
}

.bodyofpost {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
}

.textbody {
  justify-content: left;
  width: 98%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.emptydiv {
  width: 100%;
  height: 30px;
  color: black;
}
